body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(79, 77, 77);
    color :rgb(196, 213, 228) ;
}

#picture-side{
    display: inline flex;
    flex-flow: row nowrap;
    width: 49%;
}
#mini-boxes {
    display : block flex ;
    width : 30% ;
}
#mini-boxes > img {
    width: 20px;
    height: 20px;
}
